* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font1: 'Montserrat', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Kalam', cursive;
    --yellow: #f89623;
    --blue: #1d88ca;
    --yellow-image: invert(63%) sepia(97%) saturate(1225%) hue-rotate(343deg) brightness(100%) contrast(95%);
    --blue-image: invert(44%) sepia(97%) saturate(451%) hue-rotate(158deg) brightness(87%) contrast(91%);
}
body {
    font-family: var(--font2);
}
p {
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: unset;
}
img {
    max-width: 100%;
}
button {
    border: none;
    background: none;
}
.btnblue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #32a4ea;
    color: #fff;
    box-shadow: 0 4px 10px #1d88ca69;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnblue:hover {
    background-color: var(--blue);
}
.btnyellow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #f6a444;
    color: #fff;
    box-shadow: 0 4px 10px #f6a4446e;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnyellow:hover {
    background-color: var(--yellow);
}
.btnblack {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 10px #6363636e;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnblack:hover {
    background-color: #323232;
}
.w-800 {
    font-weight: 800;
}
.w-900 {
    font-weight: 900;
}
.font1 {
    font-family: var(--font1);
}
.font2 {
    font-family: var(--font1);
}
.pad-5x {
    padding: 3rem 0;
}
.yellow {
    color: var(--yellow);
}
.blue {
    color: var(--blue);
}
.heading {
    margin-bottom: 2rem;
}
.heading h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 -1rem 0;
}
.service-wrapper .heading h2 {
    font-size: 3rem;
}
.service-wrapper .heading h3 {
    font-size: 2.5rem;
}
input, textarea, button {
    background: none;
    border: none;
    outline: none !important;
    box-shadow: unset;
}










/* stylesheet */
/* header */
header {
    position: fixed;
    width: 100%;
    padding-top: .5rem;
    z-index: 10;
}
.mynavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    padding: 0.5rem 1rem;
}
.logo {
    width: 150px;
    display: block;
}
.navbar-menu {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.navbar-menu li a {
    padding: 1rem 0;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--yellow);
    display: flex;
    align-items: center;
    transition: .3s;
}
.navbar-menu li a img {
    width: 12px;
    filter: var(--yellow-image);
    margin-left: 5px;
    transition: .3s;
}
.navbar-menu li:hover a {
    color: var(--blue);
}
.navbar-menu li:hover img {
    filter: var(--blue-image);
    transform: rotate(180deg);
}
.submenu-wrap {
    position: relative;
}
.submenu {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 230px;
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: .5s;
}
.submenu-wrap:hover .submenu {
    top: 100%;
    height: auto;
    opacity: 1;
}
.submenu li a {
    border-bottom: 1px solid #f0f0f0;
    padding: .5rem 0;
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    color: var(--blue);
}
.submenu li a:hover {
    color: #000;
}
/* end header */

/* banner */
.banner-wrapper {
    /* background-image: url(../images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #f9f9f9;
    text-align: center;
}
.banner-wrapper h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 3rem;
    font-family: var(--font1);
    animation: bounce 1.5s ease-in-out;
}
.banner-wrapper h1 span {
    color: var(--blue);
    font-family: var(--font3);
    font-size: 4rem;
}
@keyframes bounce {
    0%{margin-bottom: 6rem;}
    50%{margin-bottom: 3rem;}
    75%{margin-bottom: 3.5rem;}
    100%{margin-bottom: 3rem;}
}
/* end banner */

/* about */
.about-left {
    position: relative;
}
.about-left:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #Ccc;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.about-heading h2 {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 900;
}
.about-heading h4 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font1);
}
/* end about */

/* service */
.service-box {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 1.5rem;
    position: relative;
}
.service-box span {
    position: absolute;
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 800;
    color: #f3f3f3;
    top: 0;
    right: 1rem;
}
.service-img {
    width: 60px;
}
.service-box h4 {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font1);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.service-box p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.service-box .btnblue {
    width: 100%;
}
/* end service */

/* technology */
.technlogy-box {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
}
.technlogy-box img {
    width: 100%;
}
/* end technology */

/* career */
.inputbox {
    margin-bottom: 1em;
}
.inputbox input {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.inputbox textarea {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.inputbox input::placeholder,
.inputbox textarea::placeholder {
    color: #b7b7b7;
}
/* end career */

/* footer */
footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    color: #Fff;
    padding-bottom: 0 !important;
}
footer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.footer-about p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    max-width: 300px;
}
.footer-about .logo {
    max-width: 200px;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}
.footer-right {
    border-left: 1px solid #ffffff1a;
}
.footer-right-top {
    border-bottom: 1px solid #ffffff1a;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.footer-contact {
    display: flex;
    align-items: center;
}
.footer-contact li a {
    display: flex;
    align-items: center;
    color: #Fff;
    font-weight: 600;
    font-size: 16px;
    margin: .5em 0;
}
.footer-contact li a img {
    width: 25px;
    margin-right: .5em;
}
.social-media {
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.social-media li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 14px;
    border-radius: 50px;
    margin: 0 5px;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 25%), 0 0 15px #62c8d3ab;
    border: 2px solid var(--blue);
}
.social-media li a:hover {
    background-color: var(--yellow);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 25%), 0 0 15px #f89623;
}
.footer-address {
    padding: 1em;
    background-color: #ffffff08;
}
.footer-address img {
    width: 90px;
}
.footer-address h4 {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--yellow);
}
.footer-address address {
    font-size: 13px;
    margin: 0;
    line-height: 20px;
}
.footer-bottom p {
    margin: 2em 0 0 0;
    padding: 2em 0;
    border-top: 1px solid #ffffff1a;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
/* end footer */

/* about */
.default-banner {
    height: 37vh;
    background-image: url(../images/default-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0;
}
.default-banner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    font-family: var(--font1);
    margin: 0;
}
.default-banner h1 span {
    color: var(--blue);
    font-family: var(--font3);
    font-size: 3rem;
}
.about-first-para {
    text-align: justify;
    text-align-last: center;
}
.about-text h4 {
    font-weight: 600;
    margin: 2rem 0 .3rem 0;
    font-size: 1.2rem;
}
.about-text ul {
    list-style: circle;
    margin-left: 1.2em;
}
.about-text ul li {
    font-size: 14px;
    margin: 1rem 0;
}
.about-text ul li b {
    font-weight: 600;
}
.about-text p {
    font-size: 14px;
}
/* end about */