* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font1: 'Montserrat', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Kalam', cursive;
    --yellow: #f89623;
    --blue: #1d88ca;
    --yellow-image: invert(63%) sepia(97%) saturate(1225%) hue-rotate(343deg) brightness(100%) contrast(95%);
    --blue-image: invert(44%) sepia(97%) saturate(451%) hue-rotate(158deg) brightness(87%) contrast(91%);
    --black-image: invert(0%) sepia(6%) saturate(7466%) hue-rotate(340deg) brightness(97%) contrast(95%);
}
body {
    font-family: var(--font2);
}
p {
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: unset;
}
img {
    max-width: 100%;
}
button {
    border: none;
    background: none;
}
.btnblue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #32a4ea;
    color: #fff;
    box-shadow: 0 4px 10px #1d88ca69;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnblue:hover {
    background-color: var(--blue);
}
.btnyellow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #f6a444;
    color: #fff;
    box-shadow: 0 4px 10px #f6a4446e;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnyellow:hover {
    background-color: var(--yellow);
}
.btnblack {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 10px #6363636e;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}
.btnblack:hover {
    background-color: #323232;
}
.w-800 {
    font-weight: 800;
}
.w-900 {
    font-weight: 900;
}
.font1 {
    font-family: var(--font1);
}
.font2 {
    font-family: var(--font1);
}
.pad-5x {
    padding: 3rem 0;
}
.yellow {
    color: var(--yellow);
}
.blue {
    color: var(--blue);
}
.heading {
    margin-bottom: 2rem;
}
.heading h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 -1rem 0;
}
.service-wrapper .heading h2 {
    font-size: 3rem;
}
.service-wrapper .heading h3 {
    font-size: 2.5rem;
}
.white {
    color: #Fff;
}
input, textarea, button {
    background: none;
    border: none;
    outline: none !important;
    box-shadow: unset;
}










/* stylesheet */
/* header */
header {
    position: fixed;
    width: 100%;
    padding-top: .5rem;
    z-index: 10;
}
.mynavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    padding: 0.5rem 1rem;
}
.logo {
    width: 170px;
    display: block;
}
.navbar-menu {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.navbar-menu li a {
    padding: 1rem 0;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: var(--yellow) !important;
    display: flex;
    align-items: center;
    transition: .3s;
}
.navbar-menu li a img {
    width: 12px;
    filter: var(--yellow-image);
    margin-left: 5px;
    transition: .3s;
}
.navbar-menu li:hover a {
    color: var(--blue) !important;
}
.navbar-menu li:hover img {
    filter: var(--blue-image);
    transform: rotate(180deg);
}
.submenu-wrap {
    position: relative;
}
.submenu {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 200px;
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: .5s;
}
.submenu-wrap:hover .submenu {
    top: 100%;
    height: auto;
    opacity: 1;
}
/* .submenu li span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0 0.1rem 0;
} */
.submenu li a {
    border-bottom: 1px solid #f0f0f0;
    padding: .5rem 0;
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    color: var(--blue) !important;
}
.submenu li:nth-child(1) a,
.submenu li:nth-child(10) a {
    color: var(--yellow) !important;
}
.submenu li a:hover {
    color: #000 !important;
}
/* end header */

/* banner */
.banner-wrapper {
    /* background-image: url(../images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #f9f9f9;
    text-align: center;
}
.banner-wrapper h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 3rem;
    font-family: var(--font1);
    animation: bounce 1.5s ease-in-out;
}
.banner-wrapper h1 span {
    color: var(--blue);
    font-family: var(--font3);
    font-size: 4rem;
}
@keyframes bounce {
    0%{margin-bottom: 6rem;}
    50%{margin-bottom: 3rem;}
    75%{margin-bottom: 3.5rem;}
    100%{margin-bottom: 3rem;}
}
/* end banner */

/* about */
.about-left {
    position: relative;
}
.about-left:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #Ccc;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.about-heading h2 {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 900;
}
.about-heading h4 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font1);
}
/* end about */

/* service */
.service-box {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 1.5rem;
    position: relative;
}
.service-box span {
    position: absolute;
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 800;
    color: #f3f3f3;
    top: 0;
    right: 1rem;
}
.service-img {
    width: 60px;
}
.service-box h4 {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font1);
    height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.service-box p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.service-box .btnblue {
    width: 100%;
}
.service-ul {
    list-style: none !important;
    margin: 0 -.5rem !important;
    display: flex;
    flex-wrap: wrap;
}
.service-ul li {
    background: linear-gradient(45deg, #ffefeb, #edfbfa);
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    width: calc(25% - 1rem);
    margin: .5rem !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 500;
}
.service-ul li b {
    color: var(--blue);
}
/* end service */

/* technology */
.technology-box {
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    display: block;
}
.technology-box img {
    width: 100%;
}
/* end technology */

/* product */
.product-wrapper {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    position: relative;
    z-index: 0;
}
.product-wrapper:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(45deg, #fff 0%, transparent 76%);
    top: 0;
    left: 0;
    z-index: -1;
}
.product-box {
    display: block;
    background: linear-gradient(45deg, #ffefebd1, #edfbfad1);
    padding: 1.5em 1rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    position: relative;
    z-index: 0;
    transition: .3s;
}
.product-box:hover {
    transform: scale(1.05);
}
.product-box h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue);
}
.product-box p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    color: #000;
}
.product-box span {
    font-size: 2.5rem;
    position: absolute;
    top: -6px;
    right: 0.5rem;
    font-family: var(--font1);
    font-weight: 900;
    z-index: -1;
    color: #0000000d;
}
/* end product */

/* career */
.inputbox {
    margin-bottom: 1em;
}
.inputbox input {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.inputbox textarea {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.inputbox input::placeholder,
.inputbox textarea::placeholder {
    color: #b7b7b7;
}
.inputbox div {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #b7b7b7;
}
.career-box {
    background-color: #Fff;
    padding: 1.5em;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    margin-bottom: 1.5rem;
    border-radius: 20px;
}
.career-box h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.career-box h2 img {
    width: 30px;
    margin-right: 1rem;
}
.career-box h3 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: .5rem;
}
.career-box h3 img {
    width: 30px;
    margin-right: 1rem;
}
.career-box h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0 .5rem 0;
}
.career-box p {
    font-size: 13px;
}
.career-box ul {
    list-style: disc;
    margin-left: 1.1em;
}
.career-box ul li {
    font-size: 13px;
    margin: 5px 0;
}
.career-button {
    margin: 1rem -.5rem 0 -.5rem;
}
.career-button button {
    width: calc(49.5% - 1rem);
    margin: 0 0.5rem;
}
.modal-career .career-button {
    position: sticky;
    bottom: 0;
    background-color: #Fff;
    padding: 1rem 0 .5rem 0;
    margin: 0;
}
.modal-career .career-button button {
    width: 100%;
    margin: 0;
}
.contact-form.active {
    animation: pulp 1s ease;
}
@keyframes pulp {
    0%{transform: scale(1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}
}
/* end career */

/* footer */
footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    color: #Fff;
    padding-bottom: 0 !important;
}
footer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.footer-about p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    max-width: 300px;
}
.footer-about .logo {
    max-width: 200px;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}
.footer-right {
    border-left: 1px solid #ffffff1a;
}
.footer-right-top {
    border-bottom: 1px solid #ffffff1a;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.footer-contact {
    display: flex;
    align-items: center;
}
.footer-contact li a {
    display: flex;
    align-items: center;
    color: #Fff;
    font-weight: 600;
    font-size: 16px;
    margin: .5em 0;
}
.footer-contact li a img {
    width: 25px;
    margin-right: .5em;
}
.social-media {
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.social-media li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 14px;
    border-radius: 50px;
    margin: 0 5px;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 25%), 0 0 15px #62c8d3ab;
    border: 2px solid var(--blue);
}
.social-media li a:hover {
    background-color: var(--yellow);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 25%), 0 0 15px #f89623;
}
.footer-address {
    padding: 1em;
    background-color: #ffffff08;
}
.footer-address img {
    width: 90px;
}
.footer-address h4 {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--yellow);
}
.footer-address h5 {
    font-size: .8rem;
}
.footer-address address {
    font-size: 13px;
    margin: 0;
    line-height: 20px;
}
.footer-bottom p {
    margin: 2em 0 0 0;
    padding: 2em 0;
    border-top: 1px solid #ffffff1a;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.development-center {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ffffff1a;
    display: flex;
    align-items: center;
}
.development-center img {
    width: 70px;
    margin-right: 1rem;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px rgb(255 255 255 / 40%));
}
.development-center h4 {
    margin: 0;
    font-size: 1rem;
}
/* end footer */

/* about */
.default-banner {
    height: 50vh;
    background-image: url(../images/default-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0;
    position: relative;
    z-index: 0;
}
.default-banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, transparent);
    top: 0;
    left: 0;
    z-index: -1;
}
.default-banner h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font1);
    margin: 0;
    color: #Fff;
}
.default-banner h1 span {
    font-size: 3rem;
    color: var(--blue);
}
.about-first-para {
    text-align: justify;
    text-align-last: center;
}
.about-text h4 {
    font-weight: 600;
    margin: 2rem 0 .3rem 0;
    font-size: 1.2rem;
}
.about-text ul {
    list-style: circle;
    margin-left: 1.2em;
}
.about-text ul li {
    font-size: 14px;
    margin: 1rem 0;
}
.about-text ul li b {
    font-weight: 600;
}
.about-text p {
    font-size: 14px;
}
/* end about */

/* contact */
.contact-top {
    margin-top: 2rem;
}
.contact-top li a {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0;
    color: var(--blue);
}
.contact-top li a img {
    width: 25px;
    margin-right: 10px;
}
.contact-form {
    background-color: #fff;
    padding: 2rem;
}
/* end contact */

/* portfolio */
.portfolio-container {
    position: relative;
    z-index: 0;
}
.portfolio-container:after {
    content: '';
    position: absolute;
    width: calc(100% - 50px);
    height: 100%;
    border: 3px dashed var(--blue);
    z-index: -1;
    top: 1rem;
    left: 1rem;
    border-radius: 20px;
}
.portfolio-box {
    background-repeat: no-repeat;
    width: calc(100% - 50px);
    height: 400px;
    background-size: cover;
    background-position: 0% 0%;
    border: 5px solid #b4e3f8;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(3 169 244 / 27%), inset 0 0 20px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 0;
    transition: 5s;
    overflow: hidden;
}
.portfolio-box:hover {
    background-position: 0 100%;
}
.portfolio-box .btnblue {
    min-width: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    z-index: 1;
}
.portfolio-box .btnblue img {
    width: 30px;
}
.portfolio-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, black, transparent);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 2.5rem;
    text-transform: uppercase;
}
/* end portfolio */